.images-row {
	img {
		padding: 10px;
	}
}

.images-row-6 {
	display: flex;

	img {
		display: block;
		width: 16.6%;

		@media (max-width: 768px) { 
			width: 50%;
		}

		@media (max-width: 425px) { 
			display: block;
			width: 100%;
		 }
	}

	@media (max-width: 425px) { 
		flex-direction: column;
	}

}

.images-row-3 {
	display: flex;

	img {
		display: block;
		width: 33.3%;
		@media (max-width: 425px) { 
			display: block;
			width: 100%;
		 }
	}

	@media (max-width: 425px) { 
		flex-direction: column;
	}

}

.images-row-2 {
	display: flex;

	img {
		display: block;
		width: 50%;
		@media (max-width: 768px) { 
			width: 50%;
		}
		@media (max-width: 425px) { 
			display: block;
			width: 100%;
		 }
	}

	@media (max-width: 425px) { 
		flex-direction: column;
	}

}

.bx-wrapper {
	background: none!important;
	box-shadow: none!important;
	border: 0!important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	width: 15px!important;
    height: 15px!important;
	border-radius: 10px!important;
	background: #BBC2C4!important;
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #4ABBC7!important;
}