.images-row {
	img {
		padding: 10px;
	}
}

.images-row-6 {
	display: flex;

	img {
		display: block;
		width: 16%;
	}

	@media (max-width: 768px) { 
		flex-direction: column;
	}

	@media (max-width: 768px) { 
		img {
			display: block;
			width: 100%;
		}
	 }

}

.images-row-3 {
	display: flex;

	@media (max-width: 768px) { 
		flex-direction: column;
	}

	img {
		display: block;
		width: 32%;
	}

	@media (max-width: 768px) { 
		img {
			display: block;
			width: 100%;
		}
	 }

}

.images-row-2 {
	display: flex;

	img {
		display: block;
		width: 49%;
	}

	@media (max-width: 768px) { 
		flex-direction: column;
	}

	@media (max-width: 768px) { 
		img {
			display: block;
			width: 100%;
		}
	 }

}
