body {
    background: #1F3E5E;
}

p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    text-decoration-line: underline;
    color: #D1DDE8;
}

a {
    color: #FFD897
}

.section {
	margin-bottom: 150px;
    position: relative;
}

.title {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #4ABBC7;
}

.subtitle {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #D1DDE8;
}

.bold {
	font-weight: bold;
}
