section.content.section
    .container
        .row
            .col-6
                .title The route had 3 distinct sections
                .subtitle From A to B
                p Lorem ipsum dolor sit amet consectetur. Eu mauris arcu a faucibus proin sem a tortor. Neque suspendisse mattis tortor purus neque scelerisque. Elit non feugiat cras sit tempus amet leo turpis lectus. Duis lacinia amet malesuada mauris pretium ante sit est quis. Amet senectus aliquam et fames volutpat facilisis massa. Arcu sed sed faucibus mauris ut sit. Tempor vitae tempor enim nulla. Purus ultrices lacinia gravida sit ultricies in nunc. Suspendisse in rutrum pellentesque sit eget auctor. Enim at sit tortor mattis quam mauris maecenas in massa. Convallis dolor elementum convallis ipsum a amet libero eu turpis. Porttitor porttitor aliquam quam ullamcorper sed.
                .subtitle From C to D
                p Purus ultrices lacinia gravida sit ultricies in nunc. Suspendisse in rutrum pellentesque sit eget auctor. Enim at sit tortor mattis quam mauris maecenas in massa. Convallis dolor elementum convallis ipsum a amet libero eu turpis. Porttitor porttitor aliquam quam ullamcorper sed. A facilisi et vestibulum amet massa maecenas purus. Odio sed faucibus in quam etiam pretium eget. Euismod nunc malesuada in sem. Vel sed sed id viverra egestas semper ante. Consectetur porttitor venenatis faucibus fermentum volutpat pulvinar massa molestie nec. Ultrices molestie pellentesque nibh magnis. Donec sem semper tortor duis enim diam. Dapibus quis egestas dictumst scelerisque quam neque tellus donec habitant. 
                .subtitle From E to F
                p Lorem ipsum dolor sit amet consectetur. Eu mauris arcu a faucibus proin sem a tortor. Neque suspendisse mattis tortor purus neque scelerisque. Elit non feugiat cras sit tempus amet leo turpis lectus. Duis lacinia amet malesuada mauris pretium ante sit est quis. Amet senectus aliquam et fames volutpat facilisis massa. Arcu sed sed faucibus mauris ut sit. Tempor vitae tempor enim nulla.   
            .col-6
                .images-row.images-row-3
                    img(src="", alt="")
                    img(src="", alt="")
                    img(src="", alt="")
                .images-row.images-row-3
                    img(src="", alt="")
                    img(src="", alt="")
                    img(src="", alt="")
                .images-row.images-row-2
                    img(src="", alt="")
                    img(src="", alt="")
                .images-row.images-row-3
                    img(src="", alt="")
                    img(src="", alt="")
                    img(src="", alt="")
                .images-row.images-row-3
                    img(src="", alt="")
                    img(src="", alt="")
                    img(src="", alt="")
        .row
            .col-6
            .col-6
                .title How was the weather ?
                p Lorem ipsum dolor sit amet consectetur. Eu mauris arcu a faucibus proin sem a tortor. Neque suspendisse mattis tortor purus neque scelerisque. Elit non feugiat cras sit tempus amet leo turpis lectus. Duis lacinia amet malesuada mauris pretium ante sit est quis. Amet senectus aliquam et fames volutpat facilisis massa. Arcu sed sed faucibus mauris ut sit. Tempor vitae tempor enim nulla.
                p Purus ultrices lacinia gravida sit ultricies in nunc. Suspendisse in rutrum pellentesque sit eget auctor. Enim at sit tortor mattis quam mauris maecenas in massa. Convallis dolor elementum convallis ipsum a amet libero eu turpis. Porttitor porttitor aliquam quam ullamcorper sed. A facilisi et vestibulum amet massa maecenas purus. Odio sed faucibus in quam etiam pretium eget. Euismod nunc malesuada in sem. Vel sed sed id viverra egestas semper ante. Consectetur porttitor venenatis faucibus fermentum volutpat pulvinar massa molestie nec. Ultrices molestie pellentesque nibh magnis. Donec sem semper tortor duis enim diam. Dapibus quis egestas dictumst scelerisque quam neque tellus donec habitant.
        .row
            .col-6
                .title The most memorable places ?
                p Lorem ipsum dolor sit amet consectetur. Eu mauris arcu a faucibus proin sem a tortor. Neque suspendisse mattis tortor purus neque scelerisque. Elit non feugiat cras sit tempus amet leo turpis lectus. Duis lacinia amet malesuada mauris pretium ante sit est quis. Amet senectus aliquam et fames volutpat facilisis massa. Arcu sed sed faucibus mauris ut sit. Tempor vitae tempor enim nulla.
                p Purus ultrices lacinia gravida sit ultricies in nunc. Suspendisse in rutrum pellentesque sit eget auctor. Enim at sit tortor mattis quam mauris maecenas in massa. Convallis dolor elementum convallis ipsum a amet libero eu turpis. Porttitor porttitor aliquam quam ullamcorper sed. A facilisi et vestibulum amet massa maecenas purus. Odio sed faucibus in quam etiam pretium eget. Euismod nunc malesuada in sem. Vel sed sed id viverra egestas semper ante. Consectetur porttitor venenatis faucibus fermentum volutpat pulvinar massa molestie nec. Ultrices molestie pellentesque nibh magnis. Donec sem semper tortor duis enim diam. Dapibus quis egestas dictumst scelerisque quam neque tellus donec habitant.
            .col-6
                .images-row.images-row-3
                    img(src="", alt="")
                    img(src="", alt="")
                    img(src="", alt="")
        .row
            .col-6
                .title What did you eat ?
                p Lorem ipsum dolor sit amet consectetur. Eu mauris arcu a faucibus proin sem a tortor. Neque suspendisse mattis tortor purus neque scelerisque. Elit non feugiat cras sit tempus amet leo turpis lectus. Duis lacinia amet malesuada mauris pretium ante sit est quis. Amet senectus aliquam et fames volutpat facilisis massa. Arcu sed sed faucibus mauris ut sit. Tempor vitae tempor enim nulla.
                p Purus ultrices lacinia gravida sit ultricies in nunc. Suspendisse in rutrum pellentesque sit eget auctor. Enim at sit tortor mattis quam mauris maecenas in massa. Convallis dolor elementum convallis ipsum a amet libero eu turpis. Porttitor porttitor aliquam quam ullamcorper sed. A facilisi et vestibulum amet massa maecenas purus. Odio sed faucibus in quam etiam pretium eget. Euismod nunc malesuada in sem. Vel sed sed id viverra egestas semper ante. Consectetur porttitor venenatis faucibus fermentum volutpat pulvinar massa molestie nec. Ultrices molestie pellentesque nibh magnis. Donec sem semper tortor duis enim diam. Dapibus quis egestas dictumst scelerisque quam neque tellus donec habitant.
            .col-6
                .title What was the biggest challenge ?
                p Lorem ipsum dolor sit amet consectetur. Eu mauris arcu a faucibus proin sem a tortor. Neque suspendisse mattis tortor purus neque scelerisque. Elit non feugiat cras sit tempus amet leo turpis lectus. Duis lacinia amet malesuada mauris pretium ante sit est quis. Amet senectus aliquam et fames volutpat facilisis massa. Arcu sed sed faucibus mauris ut sit. Tempor vitae tempor enim nulla.
                p Purus ultrices lacinia gravida sit ultricies in nunc. Suspendisse in rutrum pellentesque sit eget auctor. Enim at sit tortor mattis quam mauris maecenas in massa. Convallis dolor elementum convallis ipsum a amet libero eu turpis. Porttitor porttitor aliquam quam ullamcorper sed. A facilisi et vestibulum amet massa maecenas purus. Odio sed faucibus in quam etiam pretium eget. Euismod nunc malesuada in sem. Vel sed sed id viverra egestas semper ante. Consectetur porttitor venenatis faucibus fermentum volutpat pulvinar massa molestie nec. Ultrices molestie pellentesque nibh magnis. Donec sem semper tortor duis enim diam. Dapibus quis egestas dictumst scelerisque quam neque tellus donec habitant.
        .row
            .col-6
                .title What did you bring ?
                p Lorem ipsum dolor sit amet consectetur. Eu mauris arcu a faucibus proin sem a tortor. Neque suspendisse mattis tortor purus neque scelerisque. Elit non feugiat cras sit tempus amet leo turpis lectus. Duis lacinia amet malesuada mauris pretium ante sit est quis. Amet senectus aliquam et fames volutpat facilisis massa. Arcu sed sed faucibus mauris ut sit. Tempor vitae tempor enim nulla.
                p Purus ultrices lacinia gravida sit ultricies in nunc. Suspendisse in rutrum pellentesque sit eget auctor. Enim at sit tortor mattis quam mauris maecenas in massa. Convallis dolor elementum convallis ipsum a amet libero eu turpis. Porttitor porttitor aliquam quam ullamcorper sed. A facilisi et vestibulum amet massa maecenas purus. Odio sed faucibus in quam etiam pretium eget. Euismod nunc malesuada in sem. Vel sed sed id viverra egestas semper ante. Consectetur porttitor venenatis faucibus fermentum volutpat pulvinar massa molestie nec. Ultrices molestie pellentesque nibh magnis. Donec sem semper tortor duis enim diam. Dapibus quis egestas dictumst scelerisque quam neque tellus donec habitant.
            .col-6
                .images-row.images-row-2
                    img(src="", alt="")
                    img(src="", alt="")
                .images-row.images-row-2
                    img(src="", alt="")
                    img(src="", alt="")