footer.footer
    .container.text-center
        .relative
            img(src="img/footer_section.svg", alt="").img-fluid
            .absolute.footer_text Lorem ipsum dolor sit amet consectetur. Eu mauris arcu a faucibus proin sem a tortor. Neque suspendisse mattis tortor purus neque scelerisque.
        p.footer_paragraph 
            a(href='#') Shoot me an email 
            | if you have other questions or are planning such a trip by yourself, I'd be happy to share more details/practical advice!
