section.gallery.section
    .container
        .title.mb-30 Galllery
        .slider
            .images-row.images-row-6
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
            .images-row.images-row-6
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
            .images-row.images-row-6
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
            .images-row.images-row-6
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
                img(src="img/empty_image.png", alt="")
