section.gallery.section
    .container
        .title.mb-30 Gallery
        .slider
            .slide
                .images-row.images-row-6
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                .images-row.images-row-6
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                .images-row.images-row-6
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                .images-row.images-row-6
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
            .slide
                .images-row.images-row-6
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                .images-row.images-row-6
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                .images-row.images-row-6
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                .images-row.images-row-6
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")
                    img(src="img/empty_image.svg", alt="")