section.stats.section
    .container
        .row
            .col-6
                .stats_images_row
                    img(src="", alt="")
                    img(src="", alt="")
            .col-6
                .title Ride Stats
                ul.stats_list
                    li 
                        .stats_day Day 1
                        .stats_km XXX km
                        .stats_city Citynotshortname
                .bold Total 3120 km
