section.stats.section
    .container
        .row
            .col-md-6
                .stats_images_row
                    .text-left
                        img(src="img/stats_1.png", alt="")
                    .text-right
                        img(src="img/stats_2.png", alt="")
            .col-md-6
                .title Ride Stats
                ul.stats_list
                    li 
                        .stats_day Day 1
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 2
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 3
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 4
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 5
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 6
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 7
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 8
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 9
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 10
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 11
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 12
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 13
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 14
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 15
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 16
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 17
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 18
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 19
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 20
                        .stats_km XXX km
                        .stats_city Citynotshortname
                    li 
                        .stats_day Day 21
                        .stats_km XXX km
                        .stats_city Citynotshortname
                .bold.text-white Total 3120 km
