include components/page-blocks/_head

include components/page-blocks/_main
include components/page-blocks/_gallery

include components/page-blocks/_stats
include components/page-blocks/_content
include components/page-blocks/_footer

include components/page-blocks/_scripts

